extends layout
block scripts
    link(rel="stylesheet" type="text/css", href="styles/create.css")

    script(src="scripts/expanding-text.js")
block content
    div(class = "create-block")
        h5 Create a post
        hr
        form(method="post",
            action="/submitContent")
            div(class="title")
                input(placeholder="Title" name="title")
            div
                textarea(name="content" placeholder="Text(optional)" rows='1')
            div(class="tags")
                input(placeholder="tags (separate by comma \",\")" name="tags")
            div(class="btn" contenteditable)
                button POST
            if (errorFlag)
                p(id="addContentPanel") Sorry tags and title must NOT be empty!
