extends layout
block scripts
    link(rel="stylesheet" href="/styles/content-page.css")
block content
    div(class="item-stream") 
     img(src="/images/ball.png" class="ball")
     div(class="header") 
            h1 WORLD BASKETBALL

