//this just contains the navbar, we will style it later
doctype html
html
    head
        title #{title}  
        link(rel="stylesheet", href="styles/layout.css")
    block scripts    
    body
        div(id="first-layer")
            h3 
                a(href="/main") HoopsHub
        div(id="second-layer")
            ul
                li
                    a(href="/nba") NBA
                li
                    a(href="/college") College
                li
                    a(href="/international") International
                li(id="login")
                    a(href="/login") Login
        block content




