//this just contains the navbar, we will style it later
doctype html
html
    head
        title #{title}       
    body
        div 
            ul
                li
                    a(href="/main") HoopsHub
                li
                    a(href="/NBA") NBA
                li
                    a(href="/College") College
                li
                    a(href="/international") International
                li 
                    a(href="/login") Login
        block content
