doctype html
html
    head
        title #{title}
        link(rel="stylesheet", href="/styles/layout.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
    block scripts
    body
        div(id="first-layer")
            h3
                a(href="/main") HoopsHub
        div(id="second-layer")
            ul
                li
                    a(href="/nba") NBA
                li
                    a(href="/college") College
                li
                    a(href="/international") International
                if(username)
                    li(id="img")
                        a(href="/addcontent")
                            img(src="/images/add_content.png" height="30em" width="30em")
                    li(id="l_i_a")
                        a logged in as #{username}
                    li(id="logout")
                        a(href="/processLogout") logout
                else
                    li(id="login")
                        a(href="/login") Login
        block content
