extends layout
block scripts
    link(rel="stylesheet" href="styles/content-page.css")
block content
    if contents
        for c in contents
            a(class="post" href="/contents/"+c.author)
                    div(class="main-tag") #{c.tags[0]}
                    div(class="title") #{c.title}
                    div(class="author") #{c.author}
                    div(class="date") #{c.date}
                    
