extends layout
block scripts
    link(rel="stylesheet" href="/styles/content-page.css")
block content
   div(class="item-stream") 
        img(class="nba-logo" src="/images/nba-logo.png")
        div(class="header") 
          h1 NBA
