@font-face {
    font-family: SI;
    src: url(/fonts/news-of-the-world/SI_Italic.woff);
}
@font-face {
    font-family: Lib-Sans;
    src: url(/fonts/liberation-sans/LSR.woff);
}
.form{
    display: flex;
    position: absolute;
    background-color: white;
    vertical-align: baseline;
    max-width: 350px;
    margin-top: 45px;
    flex-grow: 1;
    justify-content: center;
    width:100%;
    flex-direction: column;
    left: 32.5%;
    align-items: center;
    border: 1px solid #505562;
}
input{
    margin-bottom: 5px;
}
.logo{
    text-align: center;
}
.logo>a{
    color:#000;
    font-family: SI;
    font-size:45px;
}
#prompt, .logo{
    margin-top: 2.5em;
    text-align: center;
}

#loginBtn {
  margin:  0.2rem 0 0.1rem 0;
}

#userPanel {
  color: red;
  font-size: 10pt;
}

.register{
    position: absolute;
    top: 68%;
    margin-top: 10px;
    left: 32.5%;
    max-width: 350px;
    width: 100%;
    text-align: center;
    background-color: white;
    border: 1px solid #505562;

}
.register>p{
    font-family: Lib-Sans;
    font-size: 0.75em;
    color: #505562;
}
.register a{
    font-family: inherit;
    font-size: inherit;
    color: #0047a5;
}
button{
    margin-bottom: 2.5em;
}
p{
    font-family: Lib-Sans;
}

#registerPanel {
  color: red;
  font-size: 10pt;
}
