@font-face {
    font-family: SI;
    src: url(/fonts/news-of-the-world/SI_Italic.woff);
}
@font-face {
    font-family: Lib-Sans;
    src: url(/fonts/liberation-sans/LSR.woff);
}
.form{
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 350px;
    margin-top: 25px;
    width:100%;
    align-items: center;
    border: 1px solid #505562;
    height: 50%;
}
input{
    margin-bottom: 5px;
}
.logo>a{
    color:#000;
    font-family: SI;
    font-size:45px;
}
#prompt, .logo{
    margin-top: 2.5em;
    text-align: center;
}
button{
    margin-bottom: 2.5em;
    width: 210px;
    font-family: Lib-Sans;
    font-weight: bold;
    font-size: 1em;
    background-color: #0047a5;
    color: white;
    border: none;
}
p{
    font-family: Lib-Sans;
}
#registerPanel {
  color: red;
  font-size: 10pt;
}
#error{
    text-align: center
}
